<!--The content below is only a placeholder and can be replaced.-->
<html lang="en">
<head>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div>
  <h1 style="text-align:right">
    <img src="assets/crowd.png" width="100%"  />
  </h1>
</div>
<h1>

  	<ul class="nav nav-tabs" type=none>
    	<li class="active"><a href="#">Home</a></li>
    	<li><a href="#">Menu 1</a></li>
    	<li><a href="#">Menu 2</a></li>
    	<li><a href="#">Menu 3</a></li>
  	</ul>

</h1>

<h3>

<!-- Imagenes -->

<!-- Fin Imagenes -->

</h3>

<ul type=none>

  <li class="columna3">
    <h3>What?</h3>
    A novel Web tool for editing multi-model ontologies with Description Logics-based support and standard Conceptual Languages
  </li>
  
  <li class="columna3">
    <h3>What?2</h3>
    A novel Web tool for editing multi-model ontologies with Description Logics-based support and standard Conceptual Languages
  </li>

  <li class="columna3">
    <h3>What?3</h3>
    A novel Web tool for editing multi-model ontologies with Description Logics-based support and standard Conceptual Languages
  </li>

  <li class="columna">
    <h3>Who?</h3>
    Joint work Universidad Nacional del Comahue and Universidad Nacional del Sur. Argentina
  </li>

  <li class="columna2">
    <h3>How?</h3>
    Integrating all the stuff about DL and Graphics
  </li>

  <li class="columna2">
    <h3>How?2</h3>
    Integrating all the stuff about DL and Graphics
  </li>

  <li class="columna">
    <h3>Why?</h3>
    Semantic Web is here!
  </li>

</ul>

<div class="container">

	    <button type="button" class="btn btn-infot">
        <!-- style="background-color: #55ACEE" -->
	      <a class="fa fa-twitter" href="#" ></a> <!--Twitter " -->
	    </button>

	    <button type="button" class="btn btn-infof">
        <!-- style="background-color:#3B5998" -->
	      <a class="fa fa-facebook" href="#"></a> <!--Facebook -->
	    </button>

      <button type="button" class="btn btn-infow">
        <!-- style="background-color: green" -->
        <a class="fa fa-whatsapp" href="#"></a> <!--Twitter -->
      </button>

</div>

<hr>
 <footer>
  posted by: Crowd Team.
  Contact information: <a href="mailto:someone@example.com">
  CrowdProyect@crowd.com</a>
</footer>

</body>

</html>