<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <img src="assets/crowd.png"/>
  </h1>
</div>
<h2>Getting ready for editing ontologies?</h2>
<ul>
  <li>
    <h3>What?</h3>
    <a>A novel Web tool for editing multi-model ontologies with Description Logics-based support and standard Conceptual Languages</a>
  </li>
  <li>
    <h3>Who?</h3>
    <a>Joint work Universidad Nacional del Comahue and Universidad Nacional del Sur. Argentina</a>
  </li>
  <li>
    <h3>How?</h3>
    <a>Integrating all the stuff about DL and Graphics</a>
  </li>
  <li>
    <h3>Why?</h3>
    <a>Semantic Web is here!</a>
  </li>
</ul>
